TravelNexus.Services/Connected Services/TboServiceReference/HotelService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://TekTravel/HotelBookingApi" elementFormDefault="qualified" targetNamespace="http://TekTravel/HotelBookingApi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HotelSearchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CheckInDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="CheckOutDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="CountryName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CityName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CityId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="IsNearBySearchAllowed" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="NoOfRooms" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="GuestNationality" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RoomGuests" type="tns:ArrayOfRoomGuest" />
        <xs:element minOccurs="0" maxOccurs="1" name="PreferredCurrencyCode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ResultCount" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Filters" type="tns:Filters" />
        <xs:element minOccurs="0" maxOccurs="1" name="IsRoomInfoRequired" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="GeoCodes" type="tns:GeoCodes" />
        <xs:element minOccurs="1" maxOccurs="1" name="ResponseTime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfRoomGuest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomGuest" nillable="true" type="tns:RoomGuest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoomGuest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ChildAge" type="tns:ArrayOfInt" />
    </xs:sequence>
    <xs:attribute name="AdultCount" type="xs:int" use="required" />
    <xs:attribute name="ChildCount" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfInt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Filters">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="HotelName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="StarRating" type="tns:HotelRatingInput" />
      <xs:element minOccurs="1" maxOccurs="1" name="OrderBy" type="tns:OrderByFilter" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelCodeList" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="HotelRatingInput">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="OneStarOrLess" />
      <xs:enumeration value="TwoStarOrLess" />
      <xs:enumeration value="ThreeStarOrLess" />
      <xs:enumeration value="FourStarOrLess" />
      <xs:enumeration value="FiveStarOrLess" />
      <xs:enumeration value="OneStarOrMore" />
      <xs:enumeration value="TwoStarOrMore" />
      <xs:enumeration value="ThreeStarOrMore" />
      <xs:enumeration value="FourStarOrMore" />
      <xs:enumeration value="FiveStarOrMore" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OrderByFilter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PriceAsc" />
      <xs:enumeration value="PriceDesc" />
      <xs:enumeration value="StarRatingAsc" />
      <xs:enumeration value="StarRatingDesc" />
      <xs:enumeration value="TBOPreference" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GeoCodes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Latitude" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Longitude" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SearchRadius" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credentials" type="tns:AuthenticationData" />
  <xs:complexType name="AuthenticationData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SiteName" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="UserName" type="xs:string" />
    <xs:attribute name="Password" type="xs:string" />
  </xs:complexType>
  <xs:element name="HotelSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="ResponseTime" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Language" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="SessionId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="NoOfRoomsRequested" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CityId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CheckInDate" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CheckOutDate" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RoomGuests" type="tns:ArrayOfRoomGuest" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelResultList" type="tns:ArrayOfHotel_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ResponseStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="StatusCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Category" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfHotel_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelResult" nillable="true" type="tns:Hotel_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Hotel_Result">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ResultIndex" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelInfo" type="tns:HotelInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="MinHotelPrice" type="tns:MinHotelPrice" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsPkgProperty" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomDetails" type="tns:ArrayOfRooms" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsPackageRate" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="MappedHotel" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsHalal" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HotelInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="HotelCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelPicture" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelDescription" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelAddress" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelContactNo" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Rating" type="tns:HotelInfoHotelRating" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelPromotion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TripAdvisorRating" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TripAdvisorReviewURL" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TagIds" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="HotelInfoHotelRating">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="OneStar" />
      <xs:enumeration value="TwoStar" />
      <xs:enumeration value="ThreeStar" />
      <xs:enumeration value="FourStar" />
      <xs:enumeration value="FiveStar" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MinHotelPrice">
    <xs:attribute name="PrefPrice" type="xs:string" />
    <xs:attribute name="PrefCurrency" type="xs:string" />
    <xs:attribute name="TotalPrice" type="xs:decimal" use="required" />
    <xs:attribute name="Currency" type="xs:string" />
    <xs:attribute name="B2CRates" type="xs:boolean" use="required" />
    <xs:attribute name="OriginalPrice" type="xs:decimal" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfRooms">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Rooms" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Rooms">
    <xs:attribute name="RoomType" type="xs:string" />
    <xs:attribute name="RatePlanCode" type="xs:string" />
    <xs:attribute name="Inclusion" type="xs:string" />
  </xs:complexType>
  <xs:element name="HotelRoomAvailabilityRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SessionId" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ResultIndex" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelCode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ResponseTime" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="IsCancellationPolicyRequired" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelRoomAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="1" maxOccurs="1" name="ResultIndex" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelRooms" type="tns:ArrayOfHotel_Room" />
        <xs:element minOccurs="0" maxOccurs="1" name="OptionsForBooking" type="tns:BookingOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfHotel_Room">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelRoom" nillable="true" type="tns:Hotel_Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Hotel_Room">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RoomIndex" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomTypeName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Inclusion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomTypeCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RatePlanCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomRate" type="tns:RoomRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomPromtion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomInstructions" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Supplements" type="tns:ArrayOfSupplement" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomEssentialInfo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomAdditionalInfo" type="tns:RoomInformation" />
      <xs:element minOccurs="0" maxOccurs="1" name="CancelPolicies" type="tns:CancelPolicies" />
      <xs:element minOccurs="0" maxOccurs="1" name="Amenities" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MealType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoomRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DayRates" type="tns:ArrayOfDayRate" />
      <xs:element minOccurs="1" maxOccurs="1" name="ExtraGuestCharges" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ChildCharges" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="OtherCharges" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ServiceTax" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute name="RecommendedSellingRate" type="xs:string" />
    <xs:attribute name="IsInstantConfirmed" type="xs:boolean" use="required" />
    <xs:attribute name="B2CRates" type="xs:boolean" use="required" />
    <xs:attribute name="PrefRecommendedSellingRate" type="xs:string" />
    <xs:attribute name="IsPackageRate" type="xs:boolean" use="required" />
    <xs:attribute name="Currency" type="xs:string" />
    <xs:attribute name="TotalFare" type="xs:decimal" use="required" />
    <xs:attribute name="AgentMarkUp" type="xs:decimal" use="required" />
    <xs:attribute name="RoomFare" type="xs:decimal" use="required" />
    <xs:attribute name="RoomTax" type="xs:decimal" use="required" />
    <xs:attribute name="PrefRoomTax" type="xs:string" />
    <xs:attribute name="HeadGSAMarkUp" type="xs:string" />
    <xs:attribute name="PrefRoomFare" type="xs:string" />
    <xs:attribute name="PrefCurrency" type="xs:string" />
    <xs:attribute name="PrefPrice" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfDayRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DayRate" nillable="true" type="tns:DayRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DayRate">
    <xs:attribute name="Date" type="xs:dateTime" use="required" />
    <xs:attribute name="BaseFare" type="xs:decimal" use="required" />
    <xs:attribute name="PrefBaseFare" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfSupplement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Supplement" nillable="true" type="tns:Supplement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Supplement">
    <xs:attribute name="Type" type="tns:SupplementType" use="required" />
    <xs:attribute name="SuppID" type="xs:int" use="required" />
    <xs:attribute name="SuppName" type="xs:string" />
    <xs:attribute name="SuppIsMandatory" type="xs:boolean" use="required" />
    <xs:attribute name="SuppChargeType" type="tns:SupmtChargeType" use="required" />
    <xs:attribute name="Price" type="xs:decimal" use="required" />
    <xs:attribute name="CurrencyCode" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="SupplementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PerStaySupplement" />
      <xs:enumeration value="PerPersonSupplement" />
      <xs:enumeration value="PerRoomSupplement" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SupmtChargeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Included" />
      <xs:enumeration value="Addition" />
      <xs:enumeration value="AtProperty" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RoomInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImageURLs" type="tns:ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="Amenities" type="tns:ArrayOfString1" />
    </xs:sequence>
    <xs:attribute name="SmokingPref" type="xs:string" />
    <xs:attribute name="MaxOccupancy" type="xs:string" />
    <xs:attribute name="MaxAge" type="xs:string" />
    <xs:attribute name="MinAge" type="xs:string" />
    <xs:attribute name="MaxAdult" type="xs:string" />
    <xs:attribute name="MaxChild" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Amenity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelPolicies">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="LastCancellationDeadline" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CancelPolicy" type="tns:CancelPolicy" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TextPolicy" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NoShowPolicy" type="tns:CancelPolicy" />
      <xs:element minOccurs="0" maxOccurs="1" name="DefaultPolicy" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AutoCancellationText" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="PolicyFormat" type="tns:PolicyFormat" use="required" />
  </xs:complexType>
  <xs:complexType name="CancelPolicy">
    <xs:attribute name="RoomTypeName" type="xs:string" />
    <xs:attribute name="RoomIndex" type="xs:string" />
    <xs:attribute name="FromDate" type="xs:string" />
    <xs:attribute name="ToDate" type="xs:string" />
    <xs:attribute name="ChargeType" type="tns:CancellationChargeTypeForHotel" use="required" />
    <xs:attribute name="CancellationCharge" type="xs:decimal" use="required" />
    <xs:attribute name="Currency" type="xs:string" />
    <xs:attribute name="PrefCurrency" type="xs:string" />
    <xs:attribute name="PrefCancellationCharge" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="CancellationChargeTypeForHotel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fixed" />
      <xs:enumeration value="Percentage" />
      <xs:enumeration value="Night" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PolicyFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Text" />
      <xs:enumeration value="Nodes" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BookingOptions">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FixedFormat" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomCombination" type="tns:RoomCombination" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoomCombination">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomIndex" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TestElement" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelCancellationPolicyRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ResultIndex" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="SessionId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="OptionsForBooking" type="tns:BookingOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelCancellationPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="CancelPolicies" type="tns:CancelPolicies" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelNorms" type="tns:ArrayOfString2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelBookRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ClientReferenceNumber" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="GuestNationality" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Guests" type="tns:ArrayOfGuest" />
        <xs:element minOccurs="0" maxOccurs="1" name="AddressInfo" type="tns:AddressInfo" />
        <xs:element minOccurs="0" maxOccurs="1" name="PaymentInfo" type="tns:PaymentInfo" />
        <xs:element minOccurs="0" maxOccurs="1" name="SessionId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FlightInfo" type="tns:FlightInfo" />
        <xs:element minOccurs="1" maxOccurs="1" name="NoOfRooms" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ResultIndex" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelRooms" type="tns:ArrayOfRequestedRooms" />
        <xs:element minOccurs="0" maxOccurs="1" name="SpecialRequests" type="tns:ArrayOfSpecialRequest" />
        <xs:element minOccurs="0" maxOccurs="1" name="AgencyReferenceNumber" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="RestrictDuplicateBooking" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="CheckInDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="CheckOutDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfGuest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Guest" nillable="true" type="tns:Guest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Guest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Age" type="xs:int" />
    </xs:sequence>
    <xs:attribute name="LeadGuest" type="xs:boolean" use="required" />
    <xs:attribute name="GuestType" type="tns:GuestType" use="required" />
    <xs:attribute name="GuestInRoom" type="xs:int" use="required" />
  </xs:complexType>
  <xs:simpleType name="GuestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Adult" />
      <xs:enumeration value="Child" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AreaCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ZipCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentCard" type="tns:PaymentCard" />
    </xs:sequence>
    <xs:attribute name="VoucherBooking" type="xs:boolean" use="required" />
    <xs:attribute name="PaymentModeType" type="tns:PaymentModeType" use="required" />
    <xs:attribute name="CvvNumber" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="PaymentCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CardHolderFirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CardHolderlastName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="BillingAmount" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="BillingCurrency" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CardHolderAddress" type="tns:CardHolderAddress" />
    </xs:sequence>
    <xs:attribute name="CardNumber" type="xs:string" />
    <xs:attribute name="CardExpirationMonth" type="xs:string" />
    <xs:attribute name="CardExpirationYear" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="CardHolderAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PostalCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Limit" />
      <xs:enumeration value="CreditCard" />
      <xs:enumeration value="Fawry" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FlightInfo">
    <xs:attribute name="ArrivingByFlight" type="xs:boolean" use="required" />
    <xs:attribute name="flightName" type="xs:string" />
    <xs:attribute name="flightNumber" type="xs:string" />
    <xs:attribute name="Hour" type="xs:string" />
    <xs:attribute name="Minutes" type="xs:string" />
    <xs:attribute name="remarks" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfRequestedRooms">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelRoom" nillable="true" type="tns:RequestedRooms" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestedRooms">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RoomIndex" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomTypeName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomTypeCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RatePlanCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomRate" type="tns:Rate" />
      <xs:element minOccurs="0" maxOccurs="1" name="Supplements" type="tns:ArrayOfSuppInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Rate">
    <xs:attribute name="RoomFare" type="xs:decimal" use="required" />
    <xs:attribute name="RoomTax" type="xs:decimal" use="required" />
    <xs:attribute name="TotalFare" type="xs:decimal" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfSuppInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SuppInfo" nillable="true" type="tns:SuppInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SuppInfo">
    <xs:attribute name="SuppID" type="xs:int" use="required" />
    <xs:attribute name="SuppChargeType" type="tns:SuppChargeType" use="required" />
    <xs:attribute name="Price" type="xs:decimal" use="required" />
    <xs:attribute name="SuppIsSelected" type="xs:boolean" use="required" />
  </xs:complexType>
  <xs:simpleType name="SuppChargeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Included" />
      <xs:enumeration value="Addition" />
      <xs:enumeration value="AtProperty" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfSpecialRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialRequest" nillable="true" type="tns:SpecialRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecialRequest">
    <xs:attribute name="RequestId" type="xs:int" use="required" />
    <xs:attribute name="RequestType" type="xs:string" />
    <xs:attribute name="Remarks" type="xs:string" />
  </xs:complexType>
  <xs:element name="HotelBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="1" maxOccurs="1" name="BookingStatus" type="tns:APIHotelBookingStatus" />
        <xs:element minOccurs="1" maxOccurs="1" name="BookingId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="ConfirmationNo" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="TripId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="SupplierReferenceNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PriceChange" type="tns:PriceChangeStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="SupplierConfirmationNo" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="APIHotelBookingStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Failed" />
      <xs:enumeration value="Confirmed" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Rejected" />
      <xs:enumeration value="Vouchered" />
      <xs:enumeration value="CancellationInProgress" />
      <xs:enumeration value="CxlRequestSentToHotel" />
      <xs:enumeration value="WaitingForPayment" />
      <xs:enumeration value="CancelledAndRefundAwaited" />
      <xs:enumeration value="Requested" />
      <xs:enumeration value="OnRequest" />
      <xs:enumeration value="Void" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PriceChangeStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="HotelRooms" type="tns:ArrayOfHotel_Room" />
    </xs:sequence>
    <xs:attribute name="Status" type="xs:boolean" use="required" />
    <xs:attribute name="AvailableOnNewPrice" type="xs:boolean" use="required" />
    <xs:attribute name="NewPrice" type="xs:string" />
    <xs:attribute name="Currency" type="xs:string" />
  </xs:complexType>
  <xs:element name="AvailabilityAndPricingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ResultIndex" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="SessionId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="OptionsForBooking" type="tns:BookingOptions" />
        <xs:element minOccurs="1" maxOccurs="1" name="IsRoomInformationRequired" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="PaymentModeType" type="tns:PaymentModeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailabilityAndPricingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="1" maxOccurs="1" name="ResultIndex" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="AvailableForBook" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="AvailableForConfirmBook" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="CancellationPoliciesAvailable" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelCancellationPolicies" type="tns:HotelCancellationPolicies" />
        <xs:element minOccurs="0" maxOccurs="1" name="PriceVerification" type="tns:PriceVerification" />
        <xs:element minOccurs="0" maxOccurs="1" name="AccountInfo" type="tns:AccountInfo" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelDetailsVerification" type="tns:HotelDetailsVerification" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelDetails" type="tns:APIHotelDetails" />
        <xs:element minOccurs="1" maxOccurs="1" name="IsFlightDetailsMandatory" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelRooms" type="tns:ArrayOfHotel_Room" />
        <xs:element minOccurs="0" maxOccurs="1" name="AvailablePaymentOptionsInCreditCard" type="tns:ArrayOfOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="HotelCancellationPolicies">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="HotelNorms" type="tns:ArrayOfString2" />
      <xs:element minOccurs="0" maxOccurs="1" name="CancelPolicies" type="tns:CancelPolicies" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PriceVerification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="HotelRooms" type="tns:ArrayOfHotel_Room" />
    </xs:sequence>
    <xs:attribute name="Status" type="tns:PriceVerificationStatus" use="required" />
    <xs:attribute name="PriceChanged" type="xs:boolean" use="required" />
    <xs:attribute name="AvailableOnNewPrice" type="xs:boolean" use="required" />
  </xs:complexType>
  <xs:simpleType name="PriceVerificationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Successful" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="NotAvailable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AccountInfo">
    <xs:attribute name="AgencyBalance" type="tns:AccountBalance" use="required" />
    <xs:attribute name="AgencyBlocked" type="xs:boolean" use="required" />
  </xs:complexType>
  <xs:simpleType name="AccountBalance">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sufficient" />
      <xs:enumeration value="InSufficient" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="HotelDetailsVerification">
    <xs:attribute name="Status" type="tns:HotelDetailsVerificationStatus" use="required" />
    <xs:attribute name="Remarks" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="HotelDetailsVerificationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Successful" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="NotApplicable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="APIHotelDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelLocation" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Attractions" type="tns:ArrayOfString3" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FaxNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelFacilities" type="tns:ArrayOfString4" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelPolicy" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Image" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImageUrls" type="tns:ArrayOfImageUrlDetails" />
      <xs:element minOccurs="0" maxOccurs="1" name="Map" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PinCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomInfo" type="tns:ArrayOfRoomInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomFacilities" type="tns:ArrayOfString6" />
      <xs:element minOccurs="0" maxOccurs="1" name="Services" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelWebsiteUrl" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TripAdvisorRating" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TripAdvisorReviewURL" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CityName" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="HotelCode" type="xs:string" />
    <xs:attribute name="HotelName" type="xs:string" />
    <xs:attribute name="HotelRating" type="tns:HotelInfoHotelRating" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfString3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attraction" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString4">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelFacility" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfImageUrlDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageUrl" nillable="true" type="tns:ImageUrlDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageUrlDetails">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="CategoryId" type="xs:string" />
        <xs:attribute name="CategoryName" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfRoomInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:RoomInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoomInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Images" type="tns:ArrayOfString5" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomPromotion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Inclusion" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="RoomName" type="xs:string" />
    <xs:attribute name="RoomTypeCode" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfString5">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Image" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString6">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomFacility" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="tns:Option" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Option">
    <xs:attribute name="Amount" type="xs:decimal" use="required" />
    <xs:attribute name="Currency" type="xs:string" />
    <xs:attribute name="ConvenienceCharges" type="xs:decimal" use="required" />
  </xs:complexType>
  <xs:element name="HotelBookingDetailRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="BookingId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="ConfirmationNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ClientReferenceNumber" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="PaymentModeType" type="tns:PaymentModeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelBookingDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="BookingDetail" type="tns:APIBookingDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="APIBookingDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="HotelName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Rating" type="tns:HotelInfoHotelRating" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Map" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CheckInDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="CheckOutDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="BookingDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelCancelPolicies" type="tns:CancelPolicies" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelPolicyDetails" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FlightInfo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SpecialRequest" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Roomtype" type="tns:ArrayOfRoomDetails" />
      <xs:element minOccurs="0" maxOccurs="1" name="AmendmentDetails" type="tns:AmendmentDetails" />
      <xs:element minOccurs="0" maxOccurs="1" name="Currency" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="NoOfRooms" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="AgencyDetails" type="tns:AgencyDetails" />
      <xs:element minOccurs="0" maxOccurs="1" name="AOTNumbers" type="tns:AOTNumbers" />
      <xs:element minOccurs="1" maxOccurs="1" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TripName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TBOHotelCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrentCancellationCharges" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="AppliedCancellationCharges" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="AvailablePaymentOptionsInCreditCard" type="tns:ArrayOfOption" />
    </xs:sequence>
    <xs:attribute name="BookingId" type="xs:int" use="required" />
    <xs:attribute name="AmendmentStatus" type="tns:RequestStatus" use="required" />
    <xs:attribute name="BookingStatus" type="tns:APIHotelBookingStatus" use="required" />
    <xs:attribute name="VoucherStatus" type="xs:boolean" use="required" />
    <xs:attribute name="InvoiceNumber" type="xs:string" />
    <xs:attribute name="SupplierReferenceNo" type="xs:string" />
    <xs:attribute name="ConfirmationNo" type="xs:string" />
    <xs:attribute name="HotelConfirmationNo" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfRoomDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomDetails" nillable="true" type="tns:RoomDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoomDetails">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AdultCount" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ChildCount" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChildAge" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ameneties" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="GuestInfo" type="tns:ArrayOfGuest" />
      <xs:element minOccurs="0" maxOccurs="1" name="Inclusion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomPromtion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomInstructions" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Supplements" type="tns:ArrayOfSupp_info" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomRate" type="tns:RoomRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoomEssentialInfo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MealType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfSupp_info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Supp_info" nillable="true" type="tns:Supp_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Supp_info">
    <xs:attribute name="Type" type="tns:SupplementType" use="required" />
    <xs:attribute name="SuppName" type="xs:string" />
    <xs:attribute name="SuppChargeType" type="tns:SupmtChargeType" use="required" />
    <xs:attribute name="Price" type="xs:decimal" use="required" />
    <xs:attribute name="Currency" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="AmendmentDetails">
    <xs:attribute name="BeforeAmendmentPrice" type="xs:decimal" use="required" />
    <xs:attribute name="AfterAmendmentPrice" type="xs:decimal" use="required" />
    <xs:attribute name="CreditNoteAmount" type="xs:decimal" use="required" />
    <xs:attribute name="DebitNoteAmount" type="xs:decimal" use="required" />
  </xs:complexType>
  <xs:complexType name="AgencyDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Fax" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PIN" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OfficeId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BookingMemberName" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="AgencyReference" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="AOTNumbers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntlCall" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DomesticCall" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LocalCall" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OfficeHours" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Emergency" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Language" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RequestStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unprocessed" />
      <xs:enumeration value="RequestSent" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="AgentApprovalPending" />
      <xs:enumeration value="PendingWithSupplier" />
      <xs:enumeration value="Amended" />
      <xs:enumeration value="Withdrawn" />
      <xs:enumeration value="Rejected" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="NotRequested" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GenerateInvoiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="BookingId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="ConfirmationNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PaymentInfo" type="tns:PaymentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="BookingId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmendmentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Request" type="tns:AmendmentRequestType" />
        <xs:element minOccurs="1" maxOccurs="1" name="BookingId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="AmendInformation" type="tns:AmendInformation" />
        <xs:element minOccurs="0" maxOccurs="1" name="ConfirmationNo" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AmendmentRequestType">
    <xs:attribute name="Type" type="tns:AmendmentType" use="required" />
    <xs:attribute name="PriceChange" type="tns:PriceChange" use="required" />
    <xs:attribute name="Remarks" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="AmendmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CheckStatus" />
      <xs:enumeration value="OfflineAmendment" />
      <xs:enumeration value="PriceApproved" />
      <xs:enumeration value="WithdrawRequest" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PriceChange">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InformationRequired" />
      <xs:enumeration value="Approved" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AmendInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CheckIn" type="tns:CheckInReq" />
      <xs:element minOccurs="0" maxOccurs="1" name="CheckOut" type="tns:CheckOutReq" />
      <xs:element minOccurs="0" maxOccurs="1" name="Rooms" type="tns:ArrayOfRoomReq" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CheckInReq">
    <xs:attribute name="Date" type="xs:dateTime" use="required" />
  </xs:complexType>
  <xs:complexType name="CheckOutReq">
    <xs:attribute name="Date" type="xs:dateTime" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfRoomReq">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomReq" nillable="true" type="tns:RoomReq" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoomReq">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Guest" type="tns:AmendGuestReq" />
    </xs:sequence>
    <xs:attribute name="Amend" type="tns:RoomRequested" use="required" />
  </xs:complexType>
  <xs:complexType name="AmendGuestReq">
    <xs:attribute name="Action" type="tns:AmendActionReq" use="required" />
    <xs:attribute name="ExistingName" type="xs:string" />
    <xs:attribute name="GuestType" type="tns:GuestType" use="required" />
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute name="FirstName" type="xs:string" />
    <xs:attribute name="LastName" type="xs:string" />
    <xs:attribute name="Age" type="xs:int" use="required" />
  </xs:complexType>
  <xs:simpleType name="AmendActionReq">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Rename" />
      <xs:enumeration value="Add" />
      <xs:enumeration value="Delete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RoomRequested">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FirstRoom" />
      <xs:enumeration value="SecondRoom" />
      <xs:enumeration value="ThirdRoom" />
      <xs:enumeration value="FourthRoom" />
      <xs:enumeration value="FifthRoom" />
      <xs:enumeration value="SixthRoom" />
      <xs:enumeration value="SeventhRoom" />
      <xs:enumeration value="EighthRoom" />
      <xs:enumeration value="NinthRoom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AmendmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="1" maxOccurs="1" name="RequestStatus" type="tns:RequestStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="ApprovalInformation" type="tns:ApprovalInformation" />
        <xs:element minOccurs="1" maxOccurs="1" name="BookingId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="NewConfirmatioNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="NewLastCancellationDate" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AmendmentMessage" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AmendmentRequested" type="tns:AmendmentRequested" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApprovalInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Rooms" type="tns:ArrayOfRoomPriceRes" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalPrice" type="tns:TotalPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfRoomPriceRes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:RoomPriceRes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoomPriceRes">
    <xs:attribute name="RoomIndex" type="tns:RoomRequested" use="required" />
    <xs:attribute name="RoomName" type="xs:string" />
    <xs:attribute name="BeforeAmendmentPrice" type="xs:decimal" use="required" />
    <xs:attribute name="AfterAmendmentPrice" type="xs:decimal" use="required" />
    <xs:attribute name="Currency" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="TotalPrice">
    <xs:attribute name="BeforeAmendmentPrice" type="xs:decimal" use="required" />
    <xs:attribute name="AfterAmendmentPrice" type="xs:decimal" use="required" />
    <xs:attribute name="Currency" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="AmendmentRequested">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CheckIn" type="tns:CheckInRes" />
      <xs:element minOccurs="0" maxOccurs="1" name="CheckOut" type="tns:CheckOutRes" />
      <xs:element minOccurs="0" maxOccurs="1" name="Rooms" type="tns:ArrayOfRoomRes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CheckInRes">
    <xs:attribute name="Date" type="xs:dateTime" use="required" />
    <xs:attribute name="DateAction" type="tns:DateActionRes" use="required" />
  </xs:complexType>
  <xs:simpleType name="DateActionRes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Retained" />
      <xs:enumeration value="Changed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CheckOutRes">
    <xs:attribute name="Date" type="xs:dateTime" use="required" />
    <xs:attribute name="DateAction" type="tns:DateActionRes" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfRoomRes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomRes" nillable="true" type="tns:RoomRes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoomRes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Guest" type="tns:AmendGuestRes" />
    </xs:sequence>
    <xs:attribute name="Amended" type="tns:RoomRequested" use="required" />
  </xs:complexType>
  <xs:complexType name="AmendGuestRes">
    <xs:attribute name="Action" type="tns:AmendActionRes" use="required" />
    <xs:attribute name="GuestType" type="tns:GuestType" use="required" />
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute name="FirstName" type="xs:string" />
    <xs:attribute name="LastName" type="xs:string" />
    <xs:attribute name="Age" type="xs:int" use="required" />
  </xs:complexType>
  <xs:simpleType name="AmendActionRes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Retained" />
      <xs:enumeration value="Added" />
      <xs:enumeration value="Deleted" />
      <xs:enumeration value="Renamed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HotelCancelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="BookingId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="RequestType" type="tns:CancelRequestType" />
        <xs:element minOccurs="0" maxOccurs="1" name="Remarks" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ConfirmationNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ClientReferenceNumber" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="RefundOption" type="tns:RefundOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="CancelRequestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HotelCancel" />
      <xs:enumeration value="CheckStatus" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RefundOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Source" />
      <xs:enumeration value="Limit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HotelCancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="1" maxOccurs="1" name="BookingId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="CancellationCharge" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="RefundAmount" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="RequestStatus" type="tns:HotelCancelStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="Currency" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="HotelCancelStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UnProcessed" />
      <xs:enumeration value="Pending" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Processed" />
      <xs:enumeration value="Rejected" />
      <xs:enumeration value="RefundAwaited" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CountryListRequest">
    <xs:complexType />
  </xs:element>
  <xs:element name="CountryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="CountryList" type="tns:ArrayOfCountryList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCountryList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:CountryList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountryList">
    <xs:attribute name="CountryName" type="xs:string" />
    <xs:attribute name="CountryCode" type="xs:string" />
  </xs:complexType>
  <xs:element name="DestinationCityListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CountryCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ReturnNewCityCodes" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestinationCityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="CountryName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CityList" type="tns:ArrayOfCityList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCityList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:CityList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CityList">
    <xs:attribute name="CityCode" type="xs:string" />
    <xs:attribute name="CityName" type="xs:string" />
    <xs:attribute name="CountryCode" type="xs:string" />
    <xs:attribute name="CountryName" type="xs:string" />
  </xs:complexType>
  <xs:element name="TopDestinationsRequest">
    <xs:complexType />
  </xs:element>
  <xs:element name="TopDestinationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="CityList" type="tns:ArrayOfCityList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelDetailsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ResultIndex" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="SessionId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Language" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelDetails" type="tns:APIHotelDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelCodesRequest">
    <xs:complexType />
  </xs:element>
  <xs:element name="HotelCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="Hotels" type="tns:ArrayOfHotels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfHotels">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:Hotels" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Hotels">
    <xs:attribute name="HotelCode" type="xs:string" />
    <xs:attribute name="CityCode" type="xs:string" />
    <xs:attribute name="CityName" type="xs:string" />
    <xs:attribute name="CountryCode" type="xs:string" />
  </xs:complexType>
  <xs:element name="HotelSearchWithRoomsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CheckInDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="CheckOutDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="CountryName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CityName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CityId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="IsNearBySearchAllowed" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="NoOfRooms" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="GuestNationality" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RoomGuests" type="tns:ArrayOfRoomGuest" />
        <xs:element minOccurs="0" maxOccurs="1" name="PreferredCurrencyCode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ResultCount" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Filters" type="tns:HotelSearchWithRoomsFilters" />
        <xs:element minOccurs="1" maxOccurs="1" name="ResponseTime" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="IsCancellationPolicyRequired" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="HotelSearchWithRoomsFilters">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="HotelName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="StarRating" type="tns:HotelRatingInput" />
      <xs:element minOccurs="1" maxOccurs="1" name="OrderBy" type="tns:OrderByFilter" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelCodeList" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelSearchWithRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="ResponseTime" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Language" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="SessionId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="NoOfRoomsRequested" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CityId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CheckInDate" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CheckOutDate" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RoomGuests" type="tns:ArrayOfRoomGuest" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelResultList" type="tns:ArrayOfHotel_ResultWithRooms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfHotel_ResultWithRooms">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelResult" nillable="true" type="tns:Hotel_ResultWithRooms" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Hotel_ResultWithRooms">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ResultIndex" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelInfo" type="tns:HotelInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="MinHotelPrice" type="tns:MinHotelPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="HotelRooms" type="tns:ArrayOfHotel_Room" />
      <xs:element minOccurs="0" maxOccurs="1" name="OptionsForBooking" type="tns:BookingOptions" />
      <xs:element minOccurs="1" maxOccurs="1" name="MoreRoomsAvailable" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsPkgProperty" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsPackageRate" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsHalal" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelBookingDetailBasedOnDateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelBookingDetailBasedOnDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="BookingDetail" type="tns:ArrayOfBookingsBasedOnDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfBookingsBasedOnDate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:BookingsBasedOnDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BookingsBasedOnDate">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Index" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="BookingId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ConfirmationNo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BookingDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Currency" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AgentMarkup" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AgencyName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="BookingStatus" type="tns:APIHotelBookingStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="BookingPrice" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TripName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TBOHotelCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CheckInDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CheckOutDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClientReferenceNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Remarks" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GiataHotelCodesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CityCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IsDetailedResponse" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiataHotelCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="Hotels" type="tns:ArrayOfGiataHotels" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelDetails" type="tns:ArrayOfAPIHotelDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfGiataHotels">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:GiataHotels" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GiataHotels">
    <xs:attribute name="HotelCode" type="xs:string" />
    <xs:attribute name="HotelName" type="xs:string" />
    <xs:attribute name="HotelAddress" type="xs:string" />
    <xs:attribute name="Latitude" type="xs:string" />
    <xs:attribute name="Longitude" type="xs:string" />
    <xs:attribute name="StarRating" type="tns:HotelRating" use="required" />
    <xs:attribute name="CountryName" type="xs:string" />
    <xs:attribute name="CityName" type="xs:string" />
    <xs:attribute name="CountryCode" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="HotelRating">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="OneStar" />
      <xs:enumeration value="TwoStar" />
      <xs:enumeration value="ThreeStar" />
      <xs:enumeration value="FourStar" />
      <xs:enumeration value="FiveStar" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfAPIHotelDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:APIHotelDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBOHotelCodesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CityCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IsDetailedResponse" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBOHotelCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="Hotels" type="tns:ArrayOfGiataHotels" />
        <xs:element minOccurs="0" maxOccurs="1" name="HotelDetails" type="tns:ArrayOfAPIHotelDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagInfoRequest">
    <xs:complexType />
  </xs:element>
  <xs:element name="TagInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="TagInfos" type="tns:ArrayOfTagInfos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfTagInfos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagInfo" nillable="true" type="tns:TagInfos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TagInfos">
    <xs:attribute name="Id" type="xs:int" use="required" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Category" type="xs:string" />
    <xs:attribute name="City" type="xs:string" />
    <xs:attribute name="Country" type="xs:string" />
  </xs:complexType>
  <xs:element name="CityWiseNotificationRequest">
    <xs:complexType />
  </xs:element>
  <xs:element name="CityWiseNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="CityWiseNotifications" type="tns:ArrayOfCityWiseNotification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCityWiseNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityWiseNotification" nillable="true" type="tns:CityWiseNotification" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CityWiseNotification">
    <xs:attribute name="CityCode" type="xs:string" />
    <xs:attribute name="CityName" type="xs:string" />
    <xs:attribute name="CountryCode" type="xs:string" />
    <xs:attribute name="CountryName" type="xs:string" />
    <xs:attribute name="Caption" type="xs:string" />
    <xs:attribute name="Text" type="xs:string" />
  </xs:complexType>
  <xs:element name="AccountDetailsRequest">
    <xs:complexType />
  </xs:element>
  <xs:element name="AccountDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AccountCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AgencyName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AvailableLimit" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>